# Predicting NYC Taxi Fares with RAPIDS

[RAPIDS](https://rapids.ai/) is a suite of GPU accelerated data science libraries with APIs that should be familiar to users of Pandas, Dask, and Scikitlearn.

This notebook focuses on showing how to use cuDF with Dask & XGBoost to scale GPU DataFrame ETL-style operations & model training out to multiple GPUs on mutliple nodes as part of Google Cloud Dataproc.

Anaconda has graciously made some of the NYC Taxi dataset available in [a public Google Cloud Storage bucket](https://console.cloud.google.com/storage/browser/anaconda-public-data/nyc-taxi/csv/). We'll use our Dataproc Cluster of GPUs to process it and train a model that predicts the fare amount.

In [1]:
import numpy as np
import pandas as pd
import numba, xgboost, socket
import dask, dask_cudf
import time
from dask.distributed import Client, wait

from dask_cuda import LocalCUDACluster
from dask.distributed import Client

import glob

cluster = LocalCUDACluster()
client = Client(cluster)

# connect to the Dask cluster created at Dataproc startup time
# if you're not using Dataproc, see https://github.com/rapidsai/dask-cuda for help
# client = Client(socket.gethostname()+':8786')
# forces workers to restart. useful to ensure GPU memory is clear
client.restart()

# limit work-stealing as much as possible
dask.config.set({'distributed.scheduler.work-stealing': False})
dask.config.get('distributed.scheduler.work-stealing')
dask.config.set({'distributed.scheduler.bandwidth': 1})
dask.config.get('distributed.scheduler.bandwidth')

client

/conda/envs/rapids/lib/python3.6/site-packages/numba/cuda/envvars.py:16: NumbaDeprecationWarning:
Environment variables with the 'NUMBAPRO' prefix are deprecated, found use of NUMBAPRO_NVVM=/usr/local/cuda/nvvm/lib64/libnvvm.so.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-numbapro-environment-variables
  warnings.warn(errors.NumbaDeprecationWarning(msg))
/conda/envs/rapids/lib/python3.6/site-packages/numba/cuda/envvars.py:16: NumbaDeprecationWarning:
Environment variables with the 'NUMBAPRO' prefix are deprecated, found use of NUMBAPRO_LIBDEVICE=/usr/local/cuda/nvvm/libdevice.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-numbapro-environment-variables
  warnings.warn(errors.NumbaDeprecationWarning(msg))

# Inspecting the Data

Now that we have a cluster of GPU workers, we'll use [dask-cudf](https://github.com/rapidsai/dask-cudf/) to load and parse a bunch of CSV files into a distributed DataFrame.

# Data Cleanup

As usual, the data needs to be massaged a bit before we can start adding features that are useful to an ML model.

For example, in the 2014 taxi CSV files, there are `pickup_datetime` and `dropoff_datetime` columns. The 2015 CSVs have `tpep_pickup_datetime` and `tpep_dropoff_datetime`, which are the same columns. One year has `rate_code`, and another `RateCodeID`.

Also, some CSV files have column names with extraneous spaces in them.

Worst of all, starting in the July 2016 CSVs, pickup & dropoff latitude and longitude data were replaced by location IDs, making the second half of the year useless to us.

We'll do a little string manipulation, column renaming, and concatenating of DataFrames to sidestep the problems.

In [2]:
# list of column names that need to be re-mapped
# %load_ext snakeviz
remap = {}
remap['tpep_pickup_datetime'] = 'pickup_datetime'
remap['tpep_dropoff_datetime'] = 'dropoff_datetime'
remap['ratecodeid'] = 'rate_code'

#create a list of columns & dtypes the df must have
must_haves = {
 'pickup_datetime': 'datetime64[ms]',
 'dropoff_datetime': 'datetime64[ms]',
 'passenger_count': 'int32',
 'trip_distance': 'float32',
 'pickup_longitude': 'float32',
 'pickup_latitude': 'float32',
 'rate_code': 'int32',
 'dropoff_longitude': 'float32',
 'dropoff_latitude': 'float32',
 'fare_amount': 'float32'
}

In [3]:
# helper function which takes a DataFrame partition
from cudf.dataframe import DataFrame
def clean(df_part, remap, must_haves):
    # some col-names include pre-pended spaces remove & lowercase column names
    tmp = {col: col.strip().lower() for col in list(df_part.columns)}
    df_part = df_part.rename(tmp)

    # rename using the supplied mapping
    df_part = df_part.rename(remap)

    # iterate through columns in this df partition
    for col in df_part.columns:
        # drop anything not in our expected list
        if col not in must_haves:
            df_part.drop_column(col)
            continue

        # if column was read as a string, recast as float
        if col in ["pickup_datetime", "dropoff_datetime"]:
            # handle the datetime columns separetly and fill the null values with an older date of choice
            df_part[col] = df_part[col].astype("datetime64[ms]")
            df_part[col] = df_part[col].fillna(pd.to_datetime("1990-01-02 00:00:00"))
        elif df_part[col].dtype == "object":
            # handling the rest of the objects
            df_part[col] = df_part[col].str.fillna("-1")
            df_part[col] = df_part[col].astype("float32")
        else:
            # downcast from 64bit to 32bit types
            # Tesla T4 are faster on 32bit ops
            if "int" in str(df_part[col].dtype):
                df_part[col] = df_part[col].astype("int32")
                df_part[col] = df_part[col].fillna(-1)
            if "float" in str(df_part[col].dtype):
                df_part[col] = df_part[col].astype("float32")
                df_part[col] = df_part[col].fillna(-1)

    return df_part

In [15]:
base_path = "/home/notebooks/extended/dont_rm_data_taxi/taxi/"
months = [str(x).rjust(2, '0') for x in range(1, 3)]
valid_files = [base_path+'yellow_tripdata_2016-'+month+'.csv' for month in months]


df_2016_list = []
# read & clean 2016 data and concat all DFs

for file in valid_files:
    

    df_2016_list.append(dask_cudf.read_csv(file).map_partitions(clean, remap, must_haves))

# concatenate multiple DataFrames into one bigger one
taxi_df = dask.dataframe.multi.concat(df_2016_list)

taxi_df.head().to_pandas()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,fare_amount
0,2016-01-01,2016-01-01,2,1.10,-73.990372,40.734695,1,-73.981842,40.732407,7.5
1,2016-01-01,2016-01-01,5,4.90,-73.980782,40.729912,1,-73.944473,40.716679,18.0
2,2016-01-01,2016-01-01,1,10.54,-73.984550,40.679565,1,-73.950272,40.788925,33.0
3,2016-01-01,2016-01-01,1,4.75,-73.993469,40.718990,1,-73.962242,40.657333,16.5
4,2016-01-01,2016-01-01,3,1.76,-73.960625,40.781330,1,-73.977264,40.758514,8.0

In [16]:
# apply a list of filter conditions to throw out records with missing or outlier values
query_frags = [
    'fare_amount > 0 and fare_amount < 500',
    'passenger_count > 0 and passenger_count < 6',
    'pickup_longitude > -75 and pickup_longitude < -73',
    'dropoff_longitude > -75 and dropoff_longitude < -73',
    'pickup_latitude > 40 and pickup_latitude < 42',
    'dropoff_latitude > 40 and dropoff_latitude < 42'
]

# Adding Interesting Features

Dask & cuDF provide standard DataFrame operations, but also let you run "user defined functions" on the underlying data.

cuDF's [apply_rows](https://rapidsai.github.io/projects/cudf/en/0.6.0/api.html#cudf.dataframe.DataFrame.apply_rows) operation is similar to Pandas's [DataFrame.apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html), except that for cuDF, custom Python code is [JIT compiled by numba](https://numba.pydata.org/numba-doc/dev/cuda/kernels.html) into GPU kernels.

We'll use a Haversine Distance calculation to find total trip distance, and extract additional useful variables from the datetime fields.

In [17]:
import math
from math import cos, sin, asin, sqrt, pi

def haversine_distance_kernel(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude, h_distance):
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude)):
        x_1 = pi/180 * x_1
        y_1 = pi/180 * y_1
        x_2 = pi/180 * x_2
        y_2 = pi/180 * y_2
        
        dlon = y_2 - y_1
        dlat = x_2 - x_1
        a = sin(dlat/2)**2 + cos(x_1) * cos(x_2) * sin(dlon/2)**2
        
        c = 2 * asin(sqrt(a)) 
        r = 6371 # Radius of earth in kilometers
        
        h_distance[i] = c * r
    

def day_of_the_week_kernel(day, month, year, day_of_week):
    for i, (d_1, m_1, y_1) in enumerate(zip(day, month, year)):
        if month[i] <3:
            shift = month[i]
        else:
            shift = 0
        Y = year[i] - (month[i] < 3)
        y = Y - 2000
        c = 20
        d = day[i]
        m = month[i] + shift + 1
        day_of_week[i] = (d + math.floor(m*2.6) + y + (y//4) + (c//4) -2*c)%7
        
def add_features(df):
    
    df['hour'] = df['pickup_datetime'].dt.hour
    df['year'] = df['pickup_datetime'].dt.year
    df['month'] = df['pickup_datetime'].dt.month
    df['day'] = df['pickup_datetime'].dt.day
    df['diff'] = df['dropoff_datetime'].astype('int32') - df['pickup_datetime'].astype('int32')
    
    df['pickup_latitude_r'] = df['pickup_latitude']//.01*.01
    df['pickup_longitude_r'] = df['pickup_longitude']//.01*.01
    df['dropoff_latitude_r'] = df['dropoff_latitude']//.01*.01
    df['dropoff_longitude_r'] = df['dropoff_longitude']//.01*.01
    
    df = df.drop('pickup_datetime')
    df = df.drop('dropoff_datetime')
    
    df = df.apply_rows(haversine_distance_kernel,incols=['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude'],outcols=dict(h_distance=np.float32),                   kwargs=dict())
    df = df.apply_rows(day_of_the_week_kernel,
                      incols=['day', 'month', 'year'],
                      outcols=dict(day_of_week=np.float32),
                      kwargs=dict())
    
    
    df['is_weekend'] = (df['day_of_week']<2)
    return df

In [18]:
%%time
taxi_df = taxi_df.query(" and ".join(query_frags))
taxi_df = taxi_df.map_partitions(add_features)

CPU times: user 788 ms, sys: 24 ms, total: 812 ms
Wall time: 798 ms

In [19]:
taxi_df.head().to_pandas()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,fare_amount,hour,year,month,day,diff,pickup_latitude_r,pickup_longitude_r,dropoff_latitude_r,dropoff_longitude_r,h_distance,day_of_week,is_weekend
0,2,1.10,-73.990372,40.734695,1,-73.981842,40.732407,7.5,0,2016,1,1,0,40.730000,-74.000000,40.730000,-73.989998,0.762426,5.0,False
1,5,4.90,-73.980782,40.729912,1,-73.944473,40.716679,18.0,0,2016,1,1,0,40.719997,-73.989998,40.709999,-73.949997,3.395178,5.0,False
2,1,10.54,-73.984550,40.679565,1,-73.950272,40.788925,33.0,0,2016,1,1,0,40.669998,-73.989998,40.779999,-73.959999,12.498544,5.0,False
3,1,4.75,-73.993469,40.718990,1,-73.962242,40.657333,16.5,0,2016,1,1,0,40.709999,-74.000000,40.649998,-73.970001,7.344131,5.0,False
4,3,1.76,-73.960625,40.781330,1,-73.977264,40.758514,8.0,0,2016,1,1,0,40.779999,-73.970001,40.750000,-73.979996,2.898252,5.0,False

# Pick a Training Set

Let's imagine you're making a trip to New York on the 25th and want to build a model to predict what fare prices will be like the last few days of the month based on the first part of the month. We'll use a query expression to identify the `day` of the month to use to divide the data into train and test sets.

The wall-time below represents how long it takes your GPU cluster to load data from the Google Cloud Storage bucket and the ETL portion of the workflow.

In [20]:
%%time
X_train = taxi_df.query('day < 25').persist()

# create a Y_train ddf with just the target variable
Y_train = X_train[['fare_amount']].persist()
# drop the target variable from the training ddf
X_train = X_train[X_train.columns.difference(['fare_amount'])]

# this wont return until all data is in GPU memory
done = wait([X_train, Y_train])

CPU times: user 1.26 s, sys: 104 ms, total: 1.36 s
Wall time: 12.2 s

In [21]:
len(X_train)

16814481

# Train the XGBoost Regression Model

The wall time output below indicates how long it took your GPU cluster to train an XGBoost model over the training set.

In [22]:
%%time

import dask_xgboost as dxgb_gpu

params = {
 'learning_rate': 0.3,
  'max_depth': 8,
  'objective': 'reg:squarederror',
  'subsample': 0.6,
  'gamma': 1,
  'silent': True,
  'verbose_eval': True,
  'tree_method':'gpu_hist',
  'n_gpus': 1
}

trained_model = dxgb_gpu.train(client, params, X_train, Y_train, num_boost_round=100)

CPU times: user 296 ms, sys: 68 ms, total: 364 ms
Wall time: 11.6 s

# How Good is Our Model?

Now that we have a trained model, we need to test it with the 25% of records we held out.

Based on the filtering conditions applied to this dataset, many of the DataFrame partitions will wind up having 0 rows.

This is a problem for XGBoost which doesn't know what to do with 0 length arrays. We'll apply a bit of Dask logic to check for and drop partitions without any rows.

In [23]:
def drop_empty_partitions(df):
    lengths = df.map_partitions(len).compute()
    nonempty = [length > 0 for length in lengths]
    return df.partitions[nonempty]

In [24]:
X_test = taxi_df.query('day >= 25').persist()
X_test = drop_empty_partitions(X_test)

# Create Y_test with just the fare amount
Y_test = X_test[['fare_amount']]

# Drop the fare amount from X_test
X_test = X_test[X_test.columns.difference(['fare_amount'])]

# display test set size
len(X_test)

4339096

In [25]:
# generate predictions on the test set
Y_test['prediction'] = dxgb_gpu.predict(client, trained_model, X_test)

# Compute Root Mean Squared Error

In [26]:
Y_test['squared_error'] = (Y_test['prediction'] - Y_test['fare_amount'])**2

# inspect the results to make sure our calculation looks right
Y_test.head().to_pandas()

     fare_amount  prediction  squared_error
176          9.0    8.835004       0.027224
177         41.0   36.146572      23.555761
178          9.0    8.556731       0.196487
179          4.5    4.155344       0.118788
180          9.0    8.728344       0.073797

In [27]:
# compute the actual RMSE over the full test set
math.sqrt(Y_test.squared_error.mean().compute())

2.112081468833012

# Save Trained Model for Later Use

To make a model maximally useful, you need to be able to save it for later use.

We'll use Google Cloud Storage to persist the trained model in a [dill](https://pypi.org/project/dill/) file.

In [ ]:
import gcsfs, dill

fs = gcsfs.GCSFileSystem()
# replace with a bucket you own
bucket = 'rapidsai-test-1/'

with fs.open(bucket+'trained_model.dill', 'wb') as file:  
    dill.dump(trained_model, file)

# Reload a Saved Model from Disk

You can also read the saved model back out of Google Cloud Storage and into a normal XGBoost model object.

In [ ]:
with fs.open(bucket+'trained_model.dill', 'rb') as file:  
    model_from_disk = dill.load(file)

# Generate predictions on the test set again, but this time using the reloaded model
Y_test['prediction'] = dxgb_gpu.predict(client, model_from_disk, X_test)

# Verify that the predictions result in the same RMSE error
Y_test['squared_error'] = (Y_test['prediction'] - Y_test['fare_amount'])**2
math.sqrt(Y_test.squared_error.mean().compute())

# Takeaways

We just demonstrated how to use GPU DataFrames to scale ETL style operations out to multiple GPUs on multiple nodes.

We also showed how to pass prepared data directly to XGBoost without having the data ever leave GPU memory. As a result, we can run end to end data processing _and_ model training faster, using less hardware than with a CPU based solution.

While other workflows will be more complex or operate on larger dataset sizes, our hope is that pre-processing and training on approximately 70GB (360 million rows) in about 4 minutes shows that GPUs can offer speed ups that give Data Scientists less time to drink coffee, and more time to iterate on and tune model performance.

What now?

[Check out RAPIDS on GitHub](https://github.com/rapidsai) and follow the development, or pitch in by reporting issues, making pull requests or even just requesting the features your workflows need. We look forward to hearing from you!